/***************************************************************
						BODY DEFAUT
****************************************************************/
body{
	/** background:url(../img/frontoffice/background3b3.jpg)  no-repeat center top ; **/
	background:url(../img/frontoffice/background3b2.jpg)  no-repeat center top ;
	background-color:#ebe9e8; 
	background-color:#000;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	font: 13px Helvetica, sans-serif, Georgia;
	color:#333;
}
a{color:#fff;}
a:hover{color:#006cb7;}
h1{color:#006cb7;}
h2{color:#006cb7;}
h3{color:#006cb7;}
h4{color:#006cb7;}
h5{color:#006cb7;}
/********** IMAGE DE FOND GAUCHE ET DROITE *********************/
.img_background_left{margin-top:170px; position:absolute; z-index:-100; }
.img_background_left span{margin-top:-570px; position:absolute; z-index:-100; margin-left:1400px;}
.img_background_right{margin-top:165px; position:absolute; z-index:-100; margin-left:1300px;}
/***************************************************************
						TITRES 
****************************************************************/
.titre_slogan{text-align:center;}
.titre_slogan h1{margin-top:10px; margin-bottom:10px;}
.titre_article{margin-left:30px;}
/***************************************************************
						ERROR 404
****************************************************************/
.error_404{display:block; margin-left:auto; margin-right:auto;}
.error_404_txt{text-align:center; font-size:14px; }

.confirmation{color:#5a5a5a;border:1px dotted #a4e673;border-radius:4px;background-color:#dffec8;padding:15px 57px}
.confirmation span {margin-top:5px;}
.confirmation .closestatus a {background: #8EA534;}
.confirmation .closestatus a:hover {background: #829829;}


.success {border: 3px solid #8EA534; background: #CBDA8F url(../img/frontoffice/confirmation.png) repeat-x top; width:880px;}
.success span {color: #000;}
.success .closestatus a {background: #8EA534;}
.success .closestatus a:hover {background: #829829;}

.error {border: 3px solid #990000; background: #F5D0CD url(../img/backoffice/bg_fade_red_med.png) repeat-x top; width:880px;}
.error span {color: #990000;}
.error .closestatus a {background: #990000;}
.error .closestatus a:hover {background: #730D0D;}

.status {padding: 15px 10px 5px 10px; border-radius: 5px; -moz-border-radius: 10px; text-shadow: 1px 1px 1px #fff; overflow: auto; margin-bottom: 20px; clear: both;}
.status img {float: left; padding-right: 5px; margin-top:-5px;}
.status p {padding: 0; margin: 0;}
.status p span {font-weight: 700;}
.status .closestatus {float: right; color: #fff; text-align: center; margin-left: 10px;}
.status .closestatus a {position: relative; color: #fff; text-decoration: none; padding: 5px; width: 10px; height: 10px; display: block; border-radius: 5px; -moz-border-radius: 5px; line-height: .6em; top: -2px; text-shadow: none;}

/***************************************************************
						MENU
****************************************************************/
.header_menu{z-index:-100; position:absolute; border-radius: 5px 5px 5px 5px; border:2px solid #fff; margin-left:470px; left:0px; width:960px; margin-top:10px;}
.header_bg img{z-index:-250; position:relative; margin-top:-152px; border-radius: 5px 5px 5px 5px; border:3px solid #fff; margin-left:-2px; margin-bottom:5px;}

/** SEARCH **/
.search img{margin-top:-70px; margin-left:160px;}
.search input{ margin-top:12px; margin-left:-70px; width:250px; border-radius: 50px 50px 50px 50px; color:#006cb7;}
.search .row{margin-top:-22px;}
.menutop{margin-top:30px; margin-bottom:5px;}
#menu li{
	float:left;
	margin-left:5px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:5px;
}
.menufish{float:right;}

/***************************************************************
						CONNEXION
****************************************************************/
.creation_compte{float:right; margin-right:40px; margin-top:5px;margin-bottom:-5px;}
.creation_compte:hover{color:black;}
/** .login{width:16px; margin-top:-135px;} **/
.login img{margin-left:10px; margin-top:15px; margin-bottom:-35px;}
.login_input {color:white;}
/***************************************************************
						LOGO TOP
****************************************************************/
.logo{margin-top:60px; margin-left:0px;}
.logo img{margin-top:-5px;margin-bottom:5px; margin-left:20px;}

/***************************************************************
						CONNEXION
****************************************************************/
span.surlign1{background-color:red;}
.surlign2{}
.surlign3{}
.surlign4{}

/***************************************************************
						SLIDER TOP
****************************************************************/
.slider {}
/***************************************************************
						GALLERY
****************************************************************/
.gallerie{float:left; margin-right:20px; margin-left:20px; margin-top:20px; margin-bottom:20px;}
.gallerie_name{text-align:center;}
.gallerie_img{margin-bottom:-20px;}
.gallerie_img_size{width:200px; height:200px; margin-left:10px; margin-right:10px; margin-top:10px; margin-bottom:10px;}

/***************************************************************
						LAST GAME
****************************************************************/
.last_match_img{float:left; margin-left:20px; margin-right:20px; margin-top:10px; margin-bottom:10px; }
.last_match_img img{margin-left:20px; margin-right:20px; margin-top:0px; margin-bottom:0px; z-index:-1;}
/** MOIS **/
.last_games_mois {text-align:left;margin-top:25px;margin-left:20px;}
.last_games_mois_cat {text-align:left;margin-top:25px;margin-left:10px;}
.mois{overflow:hidden; }

.last_games_position_droite{float:right;}
/** CATEGORIES DU MATCH**/
.last_game{overflow:hidden; width:960px;}
.last_game_img{margin-left:20px; z-index:-1; height:80px;}
.last_game_categorie{z-index:20; margin-top:-80px; margin-left:-120px; padding-top:3px; font-weight:bold;}
.last_game_date{z-index:20; margin-left:-120px; font-size:11px; color:silver;}
/** MON EQUIPE **/
.last_game_abreviation_mon_equipe{z-index:20;  margin-left:8px; margin-top:-25px; font-weight:bold;}
.last_game_icone_mon_equipe{z-index:20; margin-left:165px; margin-top:-22px;  position:absolute; }
.last_game_resultat_mon_equipe{z-index:20; margin-left:160px; margin-top:-22px; font-size:20px; font-weight:bold;}
/** EQUIPE ADVERSE **/
.last_game_abreviation_equipe_adverse{z-index:20;  margin-left:10px; margin-top:10px; font-weight:bold;}
.last_game_icone_equipe_adverse{z-index:20; margin-left:165px; margin-top:-22px; position:absolute; }
.last_game_resultat_equipe_adverse{z-index:20; margin-left:160px; margin-top:-22px; font-size:20px; font-weight:bold;}
.last_game_recap{margin-left:-120px;}
.last_game_dom_ext{z-index:20; margin-left:85px; margin-top:-15px; height:40px;}
/** WIN **/
.win{color:red;}
.loose{color:black;}
/***************************************************************
						ALL LAST GAMES
****************************************************************/
.all_last_games{
	margin-top:25px;
	margin-bottom:25px;
	display:block;
	overflow:hidden;
}
.Mois_all_last_games{background-color:#006cb7; width:400px; height:40px; border:4px solid #000;}
.Mois_all_last_games h3{color:white; margin-left:10px;margin-top:5px;}
/***************************************************************
						RESUME LAST GAMES
****************************************************************/
.resume_last_games{}
.resume_last_games_date{}
.top_resume_last_games{margin-top:25px;}
/** MON EQUIPE**/
.resume_last_games_resultat_mon_equipe{float:left; font-size:40px;}
.resume_last_games_logo_mon_equipe{ margin-left:20px; margin-right:20px; width:200px;}
.resume_last_games_nom_mon_equipe{text-align:center; width:100px; margin-left:95px;}
/** EQUIPE ADVERSE**/
.resume_last_games_logo_equipe_adverse{margin-left:20px; margin-right:40px;}
.resume_last_games_nom_equipe_adverse{margin-right:20px;}
.resume_last_games_resultat_equipe_adverse{ float:right;width:150px; font-size:40px; margin-top:-80px; margin-bottom:50px; }
/***************************************************************
						DETAIL DES GAMES
****************************************************************/
.date_match{text-align:left; margin-left:20px;}
.detail_game_all{margin-bottom:150px;}
.detail_game{text-align:left;}
.detail_game_left{text-align:center;}
.detail_game_right{text-align:center;}
.detail_game_resume{text-align:left; margin-top:20px;}
/***************************************************************
						FOCUS
****************************************************************/
.focus{margin-top:40px;}
.focus_titre h3{text-align:left; margin-top:0px;}
.focus_content{text-align:justify; margin-top:5px;}
/***************************************************************
						COLONNE DE DROITE
****************************************************************/

.next_match_img{margin-left:-5px; margin-bottom:20px;}
.next_match_img img{margin-left:-10px; margin-bottom:20px;}
/** NEXT GAME **/
.next_game{}
/**BLOC DROITE TEST **/
.bloc_droite_next_game_first{margin-top:40px; margin-left:-10px;}

/** ID MATCH **/
.next_game_id{visibility:hidden;}
/** MATCH DOMICILE**/
.dom{color:green;}
/** MATCH EXTERIEUR**/
.ext{color:red;}
/** NEXT GAME @ **/
.next_match_img_test{margin-left:-15px; margin-bottom:20px; z-index:-1; }

.next_game_text{z-index:20;  width:300px; font-size:12px; font-weight:bold;}

.next_game_soustitre{text-align:center; margin-bottom:5px;}
.next_game_titre{color:white; font-size:15px; margin-top:-185px; margin-left:10px; margin-bottom:10px; font-weight:bold;}
/** LOGOS EQUIPES **/
.next_game_logo_mon_equipe {margin-top:-15px;}
.next_game_logo_mon_equipe img{margin-left:0px; position:absolute; z-index:50;}
.next_game_logo_equipe_adverse {margin-top:-20px;}
.next_game_logo_equipe_adverse img{margin-left:200px; margin-top:-73px; position:absolute; z-index:50;}
/** NOMS EQUIPES **/
.next_game_nom_equipe{margin-left:0px; margin-top:-35px; width:105px; text-align:center;}
.next_game_equipe_adverse{margin-left:200px; margin-top:-30px; width:105px; text-align:center;}	
/** DATE ET HEURE **/
.next_game_heure{text-align:center; font-size:18px; font-weight:bold; margin-bottom:-10px; }
.next_game_date{text-align:center; margin-bottom:-10px; font-size:15px; font-weight:bold;}
.next_game_date_jour{text-align:center;margin-bottom:-10px; font-size:15px; font-weight:bold;}
.next_match_resultat{margin-top:0px; margin-left:-15px; margin-bottom:20px;}
/** **/
.last_comments_posts{margin-top:-55px; margin-bottom:35px; margin-left:85px; font-weight:bold; font-size:15px; color:#006cb7;}
.textarea_td_comments{width:97%;padding:0px 10px 0px;margin:1px 0 10px;font-size:12px;background-color:#ebebeb;border:1px solid #fff;border-radius:4px;box-shadow:inset 0 1px 3px #ccc;color:#333;text-shadow:1px 1px #fff;outline:0}
/***************************************************************
						CONTENT
****************************************************************/
.content{background-color:#f3f4f5;/** height:200px; **/}
.middle_content_back{background-color:#fff;border-radius: 5px 5px 5px 5px;padding:3px;width:960px;margin:0 auto;display:block;}
.middle_content{background-color:#f4f5f6;overflow:hidden;border-radius: 5px 5px 5px 5px;padding:5px;border:2px solid #fff;width:960px;margin:0 auto;display:block;}
/***************************************************************
						GALLERIE PHOTOS
****************************************************************/
.gallerie_img_gallerie img{margin-left:20px; margin-right:20px; margin-top: 20px; margin-bottom:20px; width:40%; height:40%; background:#fff;padding:4px;border:1px solid #dedede;vertical-align:bottom;}

/***************************************************************
						ARTICLES
****************************************************************/
.hr_blog{height:19px;margin:3px 0 0 0px;clear:both;background:url(../img/hr.png) no-repeat top left transparent; width:915px;}
.articles_homes{margin-left:-10px;}
.article{margin-bottom:50px;}
.article_detail{margin-left:0px;}
.article a{color:#006cb7;}
.posts_article{margin-left:15px; margin-top:50px; margin-bottom:80px;}
.posts_article h1{margin-left:35px;}
.posts_article  a{color:#006cb7;}
.posts_article  .hr{margin-left:30px;}
.textindent{text-indent:-5000px;}
.content_article{margin-top:15px; margin-bottom:15px;}
.date_posts{position:absolute;color:white; z-index:150; margin-top:-22px; margin-left:-33px; font-size:14px;}
.blog_post_img{
	margin-left:-39px;
	margin-top:-6px;
	float:left;
	position:absolute;
	z-index:100;
}
.typearticle{
	margin-left:35px;
	margin-right:auto;
	text-align:left;
	font: 15px  Helvetica, sans-serif,Georgia, arial ;
	font-style:italic;
}
.typearticle span{
	color:#006cb7;
}
.post_image{float:left; margin-left:35px; margin-right:10px; margin-top:5px; margin-bottom:10px;}
.post_content{text-align: justify; margin-right:40px; margin-top:-20px; height:130px;}
.post_description{text-align: justify; margin-right:40px; margin-top:-20px;}
/***************************************************************
						COMMENTAIRES
****************************************************************/
.commentaires_posts{padding:10px 10px 10px 10px;margin-top:25px;}
.textarea_td{width:97%;padding:8px 10px 6px;margin:1px 0 10px;font-size:12px;background-color:#ebebeb;border:1px solid #fff;border-radius:4px;box-shadow:inset 0 1px 3px #ccc;color:#9e9c9c;text-shadow:1px 1px #fff;outline:0}
.created_comments {margin-top:-20px; float:right; color:#006cb7}
/***************************************************************
						FOOTER
****************************************************************/
#footer{
	background-color:black;
	height:50px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	margin-top:-50px;
	position:absolute;
	z-index:-100;
}
.footers{
	color:#006cb7;
	background-color:black;
	display:block;
	height:300px;
	
}
.textfoot{padding-top:30px; font-size:12px; text-align:justify; color:white;}
.textfoot h4{text-shadow:none; margin-bottom:10px; margin-top:0px;}
.textfoot div{text-shadow:none; margin-bottom:5px; margin-right:10px;}
.textfoot div a{color:#006cb7;}
.separateur{background:url(../img/frontoffice/footer_sep_blue.png) repeat-y top right transparent; height:100px;}
.rs_lien{z-index:200; position:relative;}

/***************************************************************
						PAGINATION
****************************************************************/
.pagination_homes{margin-bottom:50px; margin-left:200px; }
.pagination_homes a{color:#006cb7;}
.pagination_homes ul {margin-left:auto; margin-right:auto;}
.pagination_homes li{float:left;}

.clear{clear:both;}
.pagination {margin-bottom:20px;width:960px;	}
ul.pagination {font-size: 11px; clear: both;}
ul.pagination li {float: left; padding-right: 5px; margin-left:10px;}
ul.pagination li a {padding: 3px 7px; border: 1px solid #ccc; text-decoration: none; border-radius: 5px; -moz-border-radius: 5px; display: block; background: #fff url(../img/backoffice/bg_fade_up.png) repeat-x bottom;}
ul.pagination li.page a {color: #fff; font-weight: 700;}
ul.pagination li.page a:hover {color: #fff;}
ul.pagination li.text a {border: none;  padding: 2px 5px 2px 5px;}
ul.pagination li.text {line-height: 2em; padding-left:5px;}
/***************************************************************
						PAGE CATEGORIES EQUIPES
****************************************************************/
/** page index **/
.titre_cat{text-align:left;}
.titre_cat h1{margin-top:20px; margin-bottom:20px;}
.liste_categories{margin-left:30px;}
.bouton_categorie h2{
	float:left; 
	width: 200px; 
	height: 43px; 
	padding-top: 7px; /*permet le centrage vertical*/ 
	text-align: center; 
	color: #fff; 
	background: #444; 
	margin-left:10px;
	margin-right:10px; 
	margin-top:10px; 
	margin-bottom:10px; 
	background: #444; 
	background: -webkit-linear-gradient( #2fa5fa, #006cb7); 
	background: -moz-linear-gradient( #2fa5fa, #006cb7); 
	background: -ms-linear-gradient( #2fa5fa, #006cb7); 
	background: -o-linear-gradient( #2fa5fa, #006cb7); 
	background: linear-gradient( #2fa5fa, #006cb7);  
	border-radius: 8px; 
	text-shadow: 0px 1px 0px white;  
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2); 
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.bouton_categorie h2:hover{
	color: #222; 
	background: #2fa5fa; 
	background: -webkit-linear-gradient( #1e7bd8, #0a345e); 
	background: -moz-linear-gradient( #1e7bd8, #0a345e); 
	background: -ms-linear-gradient( #1e7bd8, #0a345e); 
	background: -o-linear-gradient( #1e7bd8, #0a345e); 
	background: linear-gradient( #1e7bd8, #0a345e); 
}
.bouton_categorie h2:active{
	color: #fff; 
	background: #444; 
	background: -webkit-linear-gradient( #2fa5fa, #006cb7); 
	background: -moz-linear-gradient( #2fa5fa, #006cb7); 
	background: -ms-linear-gradient( #2fa5fa, #006cb7); 
	background: -o-linear-gradient( #2fa5fa, #006cb7); 
	background: linear-gradient( #2fa5fa, #006cb7); 
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
}
/** Fin de page index **/
.coach{color:#006cb7; margin:10px 20px 10px 10px;}
.coach span{color:#333;}
.equipe_photo{margin-top:20px; margin-left:10px;}
.entrainement{color:#006cb7; margin:10px 20px 10px 10px;}
.entrainement span{color:#333;}
.titre_categories{text-align:left; margin:10px 20px 10px 10px;}
/** Les derniers matchs **/
.categories_last_game{float:left;}
.Cat_date{float:left;}
.cat_resume{color:#006cb7;}
.tab_cat_equipes td{text-align:center;}

.contentcontainer {margin-bottom: 20px;}
.headings {padding: 0 20px; border: 1px solid #CACACA; text-shadow: 1px 1px 1px #fff; background: #EAEAEA url(../img/backoffice/bg_heading.png) repeat-x top; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-topright: 10px; 	-moz-border-radius-topleft: 10px; letter-spacing: -1px; height: 45px;}
.headings h2 {padding-top: 10px; font-size: 20px;}
.contentbox{width:900px; margin-top:-10px; margin-left:10px;}
.contentbox {overflow: ; border: 1px solid #fff; padding: 15px; background: #fff url(../img/backoffice/bg_fade_med.png) repeat-x top; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px;}	
.nopad {padding: 0;}
.contentbox p {padding-bottom: 15px;}
.contentbox a, #notificationsbox a {color: #000;}
.contentbox a:hover, #notificationsbox a:hover {color: #000;}
table {border-collapse: collapse;}
th {text-align: center; padding : 10px;}
td {text-align: center; border-color:#E5E5E5;}
th {background: #E0E0E0 url(../img/backoffice/bg_th.png) repeat-x top; text-shadow: 1px 1px 1px #fff; font-size: 14px;}
tr.alt td{background: #F2F2F2 url(../img/backoffice/bg_td_alt.png) repeat-x top; text-shadow: 1px 1px 1px #fff;}
td{vertical-align:middle;}
.tab_cat_img p img{margin-top:20px; margin-bottom:-10px;}
/***************************************************************
						PAGE CREATION DE COMPTE
****************************************************************/
.title_compte{margin-top:50px; margin-left:10px;}
.compte_input{margin-left:10px;}
.compte_input label{font-size:16px;}
.compte_input input{width:300px; height:25px; padding:8px 10px 6px;margin:1px 0 10px;font-size:14px;background-color:#ebebeb;border:1px solid #fff;border-radius:4px;box-shadow:inset 0 1px 3px #ccc;color:#9e9c9c;text-shadow:1px 1px #fff;outline:0}
.compte_input select{width:325px; height:40px; padding:8px 10px 6px;margin:1px 0 10px;font-size:14px;background-color:#ebebeb;border:1px solid #fff;border-radius:4px;box-shadow:inset 0 1px 3px #ccc;color:#9e9c9c;outline:0}
.compte_input textarea{ padding:8px 10px 6px;margin:1px 0 10px;font-size:14px;background-color:#ebebeb;border:1px solid #fff;border-radius:4px;box-shadow:inset 0 1px 3px #ccc;color:#9e9c9c;outline:0}
.extrabottom input{width:80px; height:30px; position:relative;}
.extrabottom input:hover{width:80px; height:30px; position:relative;}
.extrabottom a{width:80px; height:15px; position:relative;}

.compte_logo{margin-top:50px;}
.compte_logo_top{text-align:center; margin-top:150px;}
.compte_logo_middle{text-align:center; margin-top:150px;}
.compte_logo_middle img{margin-left:20px;}

/***************************************************************
						PAGE MON COMPTE
****************************************************************/
.titre_compte{text-align:left; margin-left:20px; margin-bottom:40px; }
.mon_compte{text-align:left; margin-left:20px; margin-bottom:20px;}
.portrait{float:left; margin-right:20px;margin-bottom:20px;}
.compte_name {color:#006cb7; margin-bottom:15px;}
.compte_name h4{color:#333; margin-top:0px;}
.img_back_compte{margin-bottom:-250px; margin-top:-100px; margin-left:-650px; opacity:0.2;}
.modifier_pass{color:#006cb7; z-index:50;}











