/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

a, a:visited {
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

.slider-wrapper { 
	width: 80%; 
	
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}